/* Home.css */
.star-background {
	background-color: #2f4858;
	width: 1280px;
	height: 720px;
	background-image: radial-gradient(
			circle at 10% 20%,
			white 0.5px,
			transparent 0.5px
		),
		radial-gradient(circle at 15% 35%, white 0.5px, transparent 1px),
		radial-gradient(circle at 40% 60%, white 0.5px, transparent 1px),
		radial-gradient(circle at 25% 80%, white 0.5px, transparent 1px),
		radial-gradient(circle at 70% 30%, white 0.5px, transparent 1px),
		radial-gradient(circle at 80% 45%, white 0.5px, transparent 1px),
		radial-gradient(circle at 90% 80%, white 0.5px, transparent 1px),
		radial-gradient(circle at 60% 90%, white 0.5px, transparent 1px),
		radial-gradient(circle at 20% 50%, white 0.5px, transparent 1px),
		radial-gradient(circle at 30% 10%, white 0.5px, transparent 1px),
		radial-gradient(circle at 50% 40%, white 0.5px, transparent 1px),
		radial-gradient(circle at 75% 75%, white 0.5px, transparent 1px),
		radial-gradient(circle at 95% 20%, white 0.5px, transparent 1px);

	background-size: 100px 150px; /* More stars by reducing background size */
	background-repeat: repeat;
}

.inner-border {
	box-shadow: 0px 4px 70px 10px #ffffff0d;
	border: 0.5px solid #ffffff;
}

.border-shadow {
	border: 1px solid #ffb684; 
	box-shadow: 0px 4px 70px 10px #ffe9d41c; 
	border-radius: 50%; 
	padding: 16px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    overflow: hidden;
}

